footer{
    font-weight: bolder;
    font-size: medium;
    color: #00ff22;
    background-color: beige;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.dia{
    font-weight: bold;
    font-size: larger;
    color: rgb(247, 9, 9);
    background-color: rgb(49, 49, 107);
}

.horario{
    font-style: italic;
    color: rgb(247, 9, 9);
    background-color: rgb(49, 49, 107);
}
.imagen{
    background-color: #05d621;
    padding-left: 400px;
    padding-right: 400px;
}

.lacopa{
    background-color: burlywood;
}

.item1{
    
    background-color: aliceblue;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
   
}
.item2{
    
    background-color: aliceblue;
    font-weight: bolder;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .item3{
    
        background-color: aliceblue;
        font-weight: bolder;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.formulario{
    display: flex;
    background-color: cadetblue;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}
.flocontacto{
display: flex;
flex-direction: row;
}
